/* Fondo blanco para el contenido */
ion-content {
  --background: transparent;
  background-image: url('/assets/img/fondo.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor de registro */
.register-container {
  width: 90%;
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  background: linear-gradient(to bottom right, #3498db, #2ecc71);
}

/* Encabezado dentro del contenedor de registro */
.register-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

/* Botón de registro */
ion-button {
  --background: #007bff;
  --color: #fff;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

/* Estilo para el texto del párrafo */
p {
  text-align: center;
  margin-top: 20px;
  color: #000;
}

/* Enlace dentro del párrafo */
p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

/* Estilo para todos los ion-inputs dentro de ion-item */
ion-input {
  --background: transparent !important; /* Fondo transparente para los campos de entrada */
  --color: #ffffff; /* Texto blanco para los campos de entrada */
  --placeholder-color: #ffffff; /* Color gris para el texto del placeholder */
  border: 2px solid rgba(0, 0, 0, 0.3); /* Borde blanco con transparencia para visibilidad */
}

/* Estilo para ion-label dentro de ion-item */
ion-label {
  --color: #ffffff; /* Asegura que el texto de ion-label sea blanco */
}

/* Estilo para todos los ion-items dentro de ion-list */
ion-list ion-item {
  --ion-item-background: transparent !important; /* Fondo transparente para ion-items */
  --color: #ffffff; /* Texto blanco para ion-items */
  --border-color: transparent; /* Elimina el color del borde para ion-items */
  margin-top: 10px; /* Agrega un margen superior a cada ion-item */
}

/* Estilo para los bordes de los ion-item si es necesario */
ion-item {
  border: none; /* Elimina cualquier borde por defecto */
}

ion-list {
  background: #f4f5f800; /* Fondo transparente para ion-list */
}

/* espacio vacío */
.spacer {
  margin: 20px 0; /* Espacio vacío vertical */
  padding: 20px; /* Espacio dentro del elemento */
}