ion-content {
  --background: none;
  background: linear-gradient(to bottom right, #121212, #007bff); /* Gris oscuro a azul brillante */
}


.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 16px auto;
  }
  
  .username {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .email {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ion-card {
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
  }
  
  ion-button {
    --border-radius: 8px;
    color: black;
  }

  .perfil-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  .btnOpsPerfil {
    height: 80px;
    background: #007bff;
    color: white;
    border-radius: 15px;
    font-size: 18px;
  }

  

  

  