<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Consola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="editarconsola-container">
    <ion-list>
      <h1>Editar Consola</h1>
      
      <ion-item>
        <ion-label>Nombre de la consola</ion-label>
        <ion-input class="custom-input" type="text" [(ngModel)]="consola.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input class="custom-input" type="number" [(ngModel)]="consola.precio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea class="custom-input"  [(ngModel)]="consola.descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Stock</ion-label>
        <ion-input class="custom-input" type="number" [(ngModel)]="consola.stock"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input class="custom-input" type="url" [(ngModel)]="consola.imagenUrl"></ion-input>
        <ion-icon name="camera" slot="end" class="camera-icon"></ion-icon>
      </ion-item>

      <div style="height: 3pc;"></div> 
      
    </ion-list>
    <ion-button class="boton" expand="full" [routerLink]="['/crudconsolas']">Guardar Cambios</ion-button>
    <ion-button class="boton" expand="full" [routerLink]="['/crudconsolas']">Volver</ion-button>
  </div>
</ion-content>
