<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="agregarjuego-container">
    <ion-list>
      <h1>Agregar Juego</h1>
      <ion-item>
        <ion-label>Nombre del Juego</ion-label>
        <ion-input [(ngModel)]="nombre" class="custom-input" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input [(ngModel)]="precio" class="custom-input" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Stock</ion-label>
        <ion-input [(ngModel)]="stock" class="custom-input" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Consolas Compatibles</ion-label>
        <ion-input [(ngModel)]="consolas" class="custom-input" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input [(ngModel)]="urlImagen" class="custom-input" type="url"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="boton" expand="full"  (click)="validarCampos()">
      Agregar Juego
    </ion-button>
    <ion-button class="boton" expand="full" [routerLink]="['/crudjuegos']">
      Volver
    </ion-button>
  </div>
</ion-content>