<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--espacio-->
  <div class="spacer"></div>
  <!--espacio-->
  <div class="spacer"></div>
  
  <!--contenido-->
  <div class="login-container">
    <h2>Login</h2>
    <ion-list>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input type="email" id="email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" label="" value="">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-button expand="block" [routerLink]="['/home']">Ingresar</ion-button>
    </ion-list>
    <p>No tienes cuenta? <a routerLink="/registro">Regístrate aquí!</a></p>
  </div>
</ion-content>