<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eliminar Consola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding contenido-centrado">
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/consolas/ps2-consola.jpg" alt="Imagen de Consola">
      </ion-thumbnail>
      <ion-label>
        <h2>PlayStation 2</h2>
        <p><strong>Stock:</strong> 20</p>
        <p><strong>Precio:</strong> $459,990</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="botones-centrados">
    <ion-button color="danger" expand="full" (click)="eliminarConsola()">
      Eliminar
    </ion-button>
    <ion-button  color="primary" expand="full" [routerLink]="['/crudconsolas']">
      Cancelar
    </ion-button>
  </div>
</ion-content>