<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Consola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="agregarconsola-container">
    <ion-list>
      <h1>Agregar Consola</h1>

      <!-- Campos del formulario -->
      <ion-item>
        <ion-label>Nombre de la consola</ion-label>
        <ion-input [(ngModel)]="nombre" class="custom-input" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea [(ngModel)]="descripcion" class="custom-input"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input [(ngModel)]="precio" class="custom-input" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Stock</ion-label>
        <ion-input [(ngModel)]="stock" class="custom-input" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input [(ngModel)]="urlImagen" class="custom-input" type="url"></ion-input>
        <ion-icon name="camera" slot="end" class="camera-icon"></ion-icon>
      </ion-item>

      <!-- Mensajes de error -->
      <p *ngIf="errorCampos" class="error-message">
        Todos los campos son obligatorios. Por favor, completa todos los campos.
      </p>
      <p *ngIf="errorPrecio" class="error-message">El precio no puede ser menor a 0.</p>
      <p *ngIf="errorStock" class="error-message">El stock no puede ser menor a 0.</p>

    </ion-list>

    <div style="height: 3pc;"></div> 

    <ion-button class="boton" expand="full" (click)="validarCampos()">
      Agregar Consola
    </ion-button>
    <ion-button class="boton" expand="full" [routerLink]="['/crudconsolas']">
      Volver
    </ion-button>
  </div>
</ion-content>
