ion-content {
  --background: none;
  background: linear-gradient(to bottom right, #121212, #007bff); /* Gris oscuro a azul brillante */
}

.itemsCarro{
  height: 30px;
  width: 30px;
}

.montofinal{
  font-size: large;
  color: rgb(0, 0, 0);
  text-align: right;
}

.btncompra{
  margin: 20px;
}