<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="atras" icon="arrow-back" [routerLink]="['/perfil']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista De Deseos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juegos/caratula-hollow.jpeg" />
          </ion-thumbnail>
          <ion-label>
            Item1
          </ion-label>
          <ion-label slot="end">
            $15.000
          </ion-label>
          <ion-label slot="end">
            <ion-icon class="itemsLD" style="color: red;" name="remove-circle-outline"></ion-icon>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/consolas/2dsXL-consola.jpeg" />
          </ion-thumbnail>
          <ion-label>
            Item2
          </ion-label>
          <ion-label slot="end">
            $159.000
          </ion-label>
          <ion-label slot="end">
            <ion-icon class="itemsLD" style="color: red;" name="remove-circle-outline"></ion-icon>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juguetes/Zelda-juguete.png" />
          </ion-thumbnail>
          <ion-label>
            Item3
          </ion-label>
          <ion-label slot="end">
            $67.000
          </ion-label>
          <ion-label slot="end">
            <ion-icon class="itemsLD" style="color: red;" name="remove-circle-outline"></ion-icon>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juegos/caratula-liesofp.jpeg" />
          </ion-thumbnail>
          <ion-label>
            Item4
          </ion-label>
          <ion-label slot="end">
            $59.000
          </ion-label>
          <ion-label slot="end">
            <ion-icon class="itemsLD" style="color: red;" name="remove-circle-outline"></ion-icon>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/consolas/ps4-1.jpeg" />
          </ion-thumbnail>
          <ion-label>
            Item5
          </ion-label>
          <ion-label slot="end">
            $459.000
          </ion-label>
          <ion-label slot="end">
            <ion-icon class="itemsLD" style="color: red;" name="remove-circle-outline"></ion-icon>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juguetes/Batman-juguete.jpg" />
          </ion-thumbnail>
          <ion-label>
            Item6
          </ion-label>
          <ion-label slot="end">
            $550.000
          </ion-label>
          <ion-label slot="end">
            <ion-icon class="itemsLD" style="color: red;" name="remove-circle-outline"></ion-icon>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
