<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="recuperar-container">
    <h2>Recuperar Contraseña</h2>
    <ion-list>
      <ion-item>
        <ion-label>Correo Electronico</ion-label>
        <ion-input type="email" id="email" name="email" required></ion-input>
      </ion-item>
      <ion-button expand="block" [routerLink]="['/cambioclave']">Enviar Correo Para Cambiar Contraseña De Ingreso</ion-button>
    </ion-list>
  </div>
</ion-content>

