<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <img src="assets/img/MegaGames.jpeg" alt="Game Controller" class="home-image" />
    <div class="button-grid">
      <ion-button expand="block" class="grid-button">
        <ion-icon name="game-controller-outline" slot="start"></ion-icon>
        Juegos
      </ion-button>
      <ion-button expand="block" class="grid-button">
        <ion-icon name="desktop-outline" slot="start"></ion-icon>
        Consolas
      </ion-button>
      <ion-button expand="block" class="grid-button">
        <ion-icon name="cube-outline" slot="start"></ion-icon>
        Juguetes
      </ion-button>
      <ion-button expand="block" class="grid-button">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Salir
      </ion-button>
    </div>
  </div>
</ion-content>