ion-content {
  --background: none; /* Asegúrate de que no haya un fondo predeterminado */
  background: linear-gradient(to bottom right, #3498db, #2ecc71);
}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-image {
  width: 50%;
  margin: 0 auto 20px;
  border-radius: 20px; /* Borde redondeado */
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid-button {
  height: 80px;
  --background: #f0f0f0;
  --color: #333;
  --border-radius: 15px;
  font-size: 18px;
}